body {
    background-color: #2C3E50;
}

h1 {
    color: white;
}

h2 {
    color: #F1C40F;
}

main>ul>li {
    color: white;
}

.weekday {
    color: black;
    background-color: #F1C40F;
    border: 2px solid black;
}

.specialskill {
    color: #E74C3C;
}